<h1>Details from your task: <%= @task.title %> </h1>


<p><%= @task.details %></p>
<p><%= @task.created_at %></p>
<p><%= @task.updated_at %></p>

<%= link_to 'Edit this task', edit_task_path %>
<%= link_to 'Back to list', tasks_path %>